@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
  box-sizing: border-box;
}

body {
  background-color: white;
}

/* Below is for centering the website */
.main {
  max-width: 1000px;
  margin: auto;
}

h1 {
  font-size: 50px;
  word-break: break-all;
}

.container {
  display: flex;
  justify-content: space-around
  flex-wrap: wrap;
  align-content: stretch;
}

.skip {
    left:-999px;
    position:absolute;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    z-index:-999;
}
.skip:focus, .skip:active {
    color: #fff;
    background-color:#000;
    left: auto;
    top: auto;
    width: 30%;
    height: auto;
    overflow:auto;
    margin: 10px 35%;
    padding:5px;
    border-radius: 15px;
    border:4px solid yellow;
    text-align:center;
    font-size:1.2em;
    z-index:999;

}

div {
  padding: 3px;
  border: 1px;
  margin: 0;
}
 
.footer {
   bottom:0;
   width:100%;
   height: 30px;
   background-color: gray;
   position:absolute;
}

